* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
header {
    width: 100%;
    height: 70px;
    background: #1e8c45;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header .logo {
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 120px;
    margin-top: 10px;
    cursor:default;
    user-select: none;
    display: flex;
    float: left;
}
.justify-c-center{
    justify-content: center;
}
header nav{
    gap: 30px;
}
yellow {
    color: blue;
    font-size: 25px;
}

header .logo:hover {
    transform: scale(1.2);
    transition: .2s;
}

header nav ul li {
    position: relative;
    float: left;
}

nav {
    font-size: 16px;
    display: flex;
}

header nav ul li a {
    padding: 15px;
    color: white;
    font-size: 16px;
    display: block;
}
header nav ul li ul li a{
    padding: 7px;
}
header nav ul li:last-child ul li a:last-child {
    border-top: grey solid 1px;
}

header nav ul li a:hover {
    background: black;
    color: white;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: #1C1C1C;
    display: none;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgva(1, 0, 0.1)
}

nav ul li ul li ul {
    left: 180px;
    top: 0;
}

nav ul li:hover>ul {
    display: initial;
}
body{
    background-color: rgb(156, 155, 155);
}
main{
    background-color: white;
    width: 100%;
    height: 1500px;
}
.bob{
    width: 30%;
}
.row{
    width: 100%;
}
.d-flex{
    display: flex;
}
.bgc-white{
    background-color: white;
}
.bgc-grey{
    background-color: #F5F5F5;
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.index{
    z-index: 99;
}
.text-a-center{
    text-align: center;
}
.border{
    border: solid 3px #176a34; 
}
.cont{
    width: 100%;
    height: 70px;
}
.bo-left-none{
    border-left: none;
}
.bo-top-none{
    border-top: none;
}
preview{
    height: 180px;
    background-color: white;
}
main-cont{
    height: 1320px;
    background-color: #F0F6F6;
    
}
.font{
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
padding{
    padding: 2%;
}
.margint{
    margin-top: 40px;
}
.d-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.grid-item:hover{
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.padding-lr{
    padding-left: 10%;
    padding-right: 10%;
}
.grid-item{
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 300px;
  background-color: white;
  border-radius: 15%;
}
calcs{

}
.list{
    display: flexbox;
}
div ul li{
    font-size: 20px;
}
.photo_geo{
    background-image: url(../image/ry.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    border-radius: 10%;
}
/*desktop*/
@media (min-width: 993px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/*tablet*/
@media (min-width: 857px) and (max-width: 992px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/*mobile*/
@media (max-width: 857px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .row-padding {
        padding: 5%;
    }
}