* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'arial'  ;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: #F6F6F6;
}
header {
    width: 100%;
    height: 70px;
    background: #1e8c45;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 10%;
    z-index: 99;
}

header .logo {
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 120px;
    cursor: default;
    user-select: none;
    display: flex;
    float: left;
}

.justify-c-center {
    justify-content: center;
}
header nav {
    gap: 30px;
}

/* Burger Menu */
.header__burger-btn{
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    background-color: #1e8c45;
    right: 15px;
    top: 15px;
}
.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header.open .header__burger-btn{
    background-color: #22994c;
    transition: .2s;
}
.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header.open .menu{
    transform: translateY(100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}
.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
.header.open .menu{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header.open .menu-document{
    transform: translateY(100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.menu, .menu-document{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #22994c;
    right: 0px;
    transition: transform .5s;
}
.menu{
    height: 275px;
    width: 170px;
    top: -275px;
    padding-top: 70px;
}
bl{
    color: black;
    font-weight: bold;
}
.menu-document{
    height: 450px;
    width: 300px;
    top: -450px;
    padding-top: 50px;
    color: white;
    padding-left: 10px;
}
.menu-things{
    height: 50px;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.menu a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 170px;
}

header .logo:hover {
    transform: scale(1.2);
    transition: .2s;
}
nav {
    font-size: 16px;
    display: flex;
}
navtele {
    font-size: 16px;
    display: none;
    gap: 30px;
}
navtele div a div{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}
main {
    background-color: white;
    width: 100%;
    height: 1500px;
}
maint {
    background-color: white;
    width: 100%;
    height: 1000px;
}

.d-flex {
    display: flex;
}

.bgc-white {
    background-color: white;
}

.bgc-grey {
    background-color: #F6F6F6;
}
.bgc-blue{
    background-color: blue;
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.text-a-center {
    text-align: center;
}

preview {
    height: 180px;
    background-color: white;
}

main-cont {
    background-color: #F0F6F6;
    height: 600px;
    display: block;
    padding: 0 10%;
}

.font {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.grid-item:hover {
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.grid-item {
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
    height: 300px;
    background-color: white;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.justify-c-right{
    justify-content: right;
}
.manana{
    position: absolute;
    right: 30px;
    background-image: url(../image/info1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    z-index: 2;
}
.menu-document-pc{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #22994c;
    right: 0px;
    transition: transform .5s;
    opacity: 0;
    color: white;
    padding: 10px;
    height: 250px;
    top: -250px;
}
.header.open .menu-document-pc{
    opacity: 1;
    transform: translateY(100%);
    transition: .5s;
}
.manana:hover{
    background-image: url(../image/info2.png);
    transition: .2s;
}
gap{
    gap: 30px;
}
.padding-lr{
    padding-left: 20%;
    padding-right: 20%;
}
.photo_geo, .photo_algeb, .photo_chismeth, .photo_accounting{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.photo_docs {
    background-image: url(../image/docs1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.photo_geo {
    background-image: url(../image/geo.png);

}

.photo_algeb {
    background-image: url(../image/math.png);

}

.photo_chismeth {
    background-image: url(../image/chisel.png);

}

.photo_accounting {
    background-image: url(../image/accounting.png);

}
.photo_calc, .photo_images{
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
}
.photo_calc{
    background-image: url(../image/calculator1.png);
}
.photo_images{
    background-image: url(../image/images1.png);
}
.photo_images:hover{
    background-image: url(../image/images2.png);
}
.photo_calc:hover{
    background-image: url(../image/calculator2.png);
}
.calculators-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    padding: 0 2em;
    margin-top: 30px;
}
carusel{
    height: 45px;
    background-color: #22994c;
}
carusel a{
    font-size: 1.22em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 10px;
    font-weight: 600;
}
.tasks-inout{
    text-align: center;
    display: block;
}
.height371px{
    height: 371px;
}
.paddingt30{
    padding-top: 30px;
}
.head-word-inout{
    font-size: 32px;
    font-weight: bold;
}
.margint50{
    margin-top: 50px;
}
.margint30{
    margin-top: 30px;
}
.justify-c-spaceeven{
    justify-content: space-evenly;
}
div ul li{
    font-size: 15px;
}
.container-input-field {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}
.input-field {

}
.list{
    background-color: white;
    height: 500px;
    padding: 5%;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.list-item{
    display: block;
}
.list-item>a{
    display: block;
}
.d-block{
    display: block;
}
.height500px{
    height: 500px;
    width: 100%;
}
main-conttele{
    display: none;
}
@media (max-width: 917px) and (min-width: 768px) {
    .calculators-container{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 2em;
    }
}
main-cont div div button{
    background-color: #1e8c45;
    border: solid 1px;
    height: 25px;
    width: 200px;
    margin-top: 14px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
@media (max-width: 768px) {
    .calculators-container,
    .container-input-field{
        row-gap: 2em;
        grid-template: repeat(4, 1fr) / 1fr;
    }
}
@media (max-width: 949px) {
    .active{
        padding-top: 0px;
    }
}

@media (max-width:917px) and (min-width: 425px) {
    .container-input-field{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% { left: 100%; }
    100% { left: -100%; }
  }
  
/*Mobile*/
@media(max-width: 560px){
    navtele{
        display: flex;
    }
    nav{
        display: none;
    }
    carusel{
        background: white;
        display: none;
    }
    .active, .non-active{
        background: none;
        display: none;
    }
    .list{
        box-shadow:  rgba(0, 0, 0, 0.27) 0px 6px 6px;
    }
    carusel div a{
        display: none;
    }
    main-cont{
        padding: 0;
    }
    carusel a{
        font-size: 1em;
    }
    .manana, .menu-document-pc{
        display: none;
    }
}
@media(max-width: 800px){
    main-conttele{
        display: block;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 20px;
    }
}