* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background: #1e8c45;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header .logo {
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 120px;
    margin-top: 10px;
    cursor: default;
    user-select: none;
    display: flex;
    float: left;
}

.justify-c-center {
    justify-content: center;
}

header nav {
    gap: 30px;
}

yellow {
    color: blue;
    font-size: 25px;
}

header .logo:hover {
    transform: scale(1.2);
    transition: .2s;
}

header nav ul li {
    position: relative;
    float: left;
}

nav {
    font-size: 16px;
    display: flex;
}

header nav ul li a {
    padding: 15px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a {
    padding: 7px;
}

header nav ul li:last-child ul li a:last-child {
    border-top: grey solid 1px;
}

header nav ul li a:hover {
    background: black;
    color: white;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: #1C1C1C;
    display: none;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgva(1, 0, 0.1)
}

nav ul li ul li ul {
    left: 180px;
    top: 0;
}

nav ul li:hover>ul {
    display: initial;
}

body {
    background-color: rgb(156, 155, 155);
}

main {
    background-color: white;
    width: 100%;
    height: 1500px;
}

.spange-bob {
    width: 30%;
}

.row {
    width: 100%;
}

.d-flex {
    display: flex;
}

.bgc-white {
    background-color: white;
}

.bgc-grey {
    background-color: #F5F5F5;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.index {
    z-index: 99;
}

.text-a-center {
    text-align: center;
}

.border {
    border: solid 3px #176a34;
}

.cont {
    width: 100%;
    height: 70px;
}

.bo-left-none {
    border-left: none;
}

.bo-top-none {
    border-top: none;
}

preview {
    height: 180px;
    background-color: white;
}

main-cont {
    height: 1320px;
    background-color: #F6F6F6;
}

.font {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

padding {
    padding: 2%;
}

.margint {
    margin-top: 40px;
}

.grid-item:hover {
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.padding-lr {
    padding-left: 10%;
    padding-right: 10%;
}

.grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    background-color: white;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div ul li {
    font-size: 20px;
}

.photo_geo {
    background-image: url(../image/geo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.photo_algeb {
    background-image: url(../image/math.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.photo_chismeth {
    background-image: url(../image/chisel.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.photo_calc{
    background-image: url(../image/calculator1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
}
.photo_calc:hover{
    background-image: url(../image/calculator2.png);
}
.calculators-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    padding: 0 2em;
}

@media (max-width: 917px) and (min-width: 768px) {
    .calculators-container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 2em;
    }
}

@media (max-width: 768px) {
    .calculators-container {
        row-gap: 2em;
        grid-template: repeat(4, 1fr) / 1fr;
    }
}