@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'arial';
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: #F6F6F6;
}
.photo_calc{
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
}
.photo_calc{
    background-image: url(../image/calculator1.png);
}
.photo_calc:hover{
    background-image: url(../image/calculator2.png);
}
.photo_calc{
    background-size: contain;
    background-repeat: no-repeat;
}
image{
    position: absolute;
    top: 0;
}
.cont{  
    padding: 0% 10%;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    min-height: 81vh;
    overflow: hidden; 
}
.just-c-center{
    display: flex;
    justify-content: center;
}

.calculators-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    margin-top: 30px;
}
.grid-item:hover {
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.grid-item {
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
    height: 300px;
    background-color: white;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.photo_geo, .photo_algeb, .photo_chismeth, .photo_accounting{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.photo_docs {
    background-image: url(../image/docs1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.photo_geo {
    background-image: url(../image/geo.png);

}

.photo_algeb {
    background-image: url(../image/math.png);

}

.photo_chismeth {
    background-image: url(../image/chisel.png);

}

.photo_accounting {
    background-image: url(../image/accounting.png);

}
.text-a-center {
    text-align: center;
}
.font {
    color: black;
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    font-size: 25px;
}

.margint30{
    margin-top: 30px;
}
div ul li{
    font-size: 15px;
}
/*PC*/
@media (min-width: 993px) {

}
/*Laptop*/
@media (min-width: 769px) and (max-width: 992px) {

}
/*Mobile*/

@media (max-width: 612px) {
    .calculators-container{
        row-gap: 2em;
        grid-template: repeat(4, 1fr) / 1fr;
        justify-content: center;
    }
}
@media (max-width: 1100px) and (min-width: 612px) {
    .calculators-container{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 2em;
    }
}

.blur{
    filter: blur(5px);
}

.notwork{
    position: absolute;
    background-image: url(../image/NOTWORKING.png);
    height: 250px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}