header {
    width: 100%;
    height: 70px;
    background: #4A5EFC;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 10%;
    z-index: 99;
    display: flex;
    justify-content: center ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header nav ul{
    display: flex;
}
.head__logo{
    height: 60px;
    width: 120px;
    cursor: default;
    user-select: none;
}
/* header .head__logo:hover {
    background-image:  url(../image/trap-shit.gif);
    background-repeat: no;
} */